$font-size = 12px
$post-margin = 20px

$post-accent-border = 1px solid #cc664f
$post-accent-color = #ffe8dd

$bg-color = #e9ebee
$timestamp-color = #90949c
$fb-link-color = #4267b2

#output {
  margin 0 auto
  max-width 502px
  display none
}

html, body {
  margin 0
  padding 0
  width 100%
  height 100%
  background $bg-color
}

.post {
  font-family Helvetica, Arial, sans-serif
  padding 12px
  margin $post-margin
  border 1px solid
  border-color #e5e6e9 #dfe0e4 #d0d1d5
  border-radius 3px
  background-color #fff
  color #1d2129

  .btn-phone {
    display none
  }

  .timestamp {
    color $timestamp-color
    font-size $font-size
  }

  .content pre {
    font-family 'Roboto', sans-serif
    color #5f5d5d
    font-size 14px
    font-weight normal
    line-height 1.38
    white-space pre-wrap
  }

  a {
    cursor pointer
    color $fb-link-color
    text-decoration none
    padding 2px 4px
    border-bottom 1px solid $fb-link-color
    font-size $font-size
    font-weight bold

    &:hover {
      background-color $fb-link-color
      color #fff
    }
  }

  &.today {
    border $post-accent-border
    border-radius 0
    background $post-accent-color

    .btn-phone {
      display inline-block
      float right
    }

    .timestamp {
      color #d04318
    }

    .content pre {
      color #424040
    }
  }
}


/* taken from http://tobiasahlin.com/spinkit/ */
#spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

#spinner > div {
  width: 18px;
  height: 18px;
  background-color: #bbb;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

#spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
